.posts {
  padding: 101px 310px 101px;
  background-color: red;
}
.posts__body {
}
.posts__title {
}
.posts__container {
  display: grid;
  grid-template-columns: repeat(4, 1 fr);
  grid-template-areas: ();
}
.posts-item {
}
.posts-item__link {
}
.posts-item__overlay {
}
.posts-item__image {
}
.posts-item__title {
}
.posts-item__txt {
}
